body {
  color: var(--White);
}

.header,
main,
.footer {
  justify-self: center;
  width: min(100%, 33.5rem);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--Navy-800);
}

.header__logo {
  width: 8rem;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font: var(--text-nav);
  cursor: pointer;
}

.header__nav ul li:hover {
  text-decoration: underline;
}

.header__nav a {
  text-decoration: none;
  color: var(--White);
}

main {
  text-align: center;
  background-color: var(--Navy-900);
}

.hero {
  display: grid;
}

.hero__content {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding-top: 2rem;
  background: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-color: var(--Navy-800);
}

.hero__title {
  padding: 0.5rem 2.2rem 0rem 2.2rem;
  font: var(--text-title);
}
  
.hero__body {
  display: grid;
  gap: 2rem;
  padding-bottom: 6.4rem;
  background-color: var(--Navy-900);
}

.hero__description {
  padding-inline: 2.2rem;
  font: var(--text-description);
}

.hero__description,
.hero__button {
  background-color: var(--Navy-900);
}

.hero__button {
  width: 24rem;
  padding: 2rem;
  justify-self: center;
  text-decoration: none;
  background-color: var(--Cyan-500);
  border-radius: 3rem;
  transition: background-color 0.3s;
}

.hero__button:hover,
.early-access__button:hover {
  background-color: var(--Teal-200);
}

.hero__button,
.early-access__button {
  font: var(--text-button);
  color: var(--White);
}

.hero__image,
.productive__image {
  width: 27rem;
}

.features {
  display: grid;
  gap: 5rem;
  padding: 4rem 1.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip-path: inset(50%);
}

.feature-card {
  display: grid;
  gap: 2rem;
}

.feature-card__icon {
  width: 6rem;
  justify-self: center;
}

.feature-card__title,
.productive__title,
.early-access__title {
  font: var(--text-subtitle);
}

.feature-card__description {
  font: var(--text-description);
}

.productive {
  display: grid;
  gap: 3rem;
  padding-top: 2rem;
  justify-items: center;
}

.productive__content {
  display: grid;
  gap: 2rem;
  padding-inline: 3rem;
  text-align: left;
}

.productive__description {
  font: var(--text-description);
}

.productive__link {
  display: inline-flex;
  justify-self: start;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  font: var(--text-description);
  text-decoration: none;
  color: var(--Teal-200);
  border-bottom: 1px solid var(--Teal-200);
  transition: 0.3s;
}

.productive__link:hover {
  color: var(--White);
  border-color: var(--White);
}

.testimonials {
  display: grid;
  gap: 2rem;
  padding: 10rem 3.8rem 0 3.8rem;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: top 7.8rem left 4rem;
  line-height: 1.8rem;
}

.testimonial-card {
  display: grid;
  gap: 2rem;
  padding: 1.8rem;
  text-align: left;
  line-height: 1.8rem;
  background-color: var(--Navy-800);
  border-radius: 0.6rem;
}

.testimonial-card__text {
  font: var(--text-testimonial);
}

.testimonial-card__author {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.testimonial-card__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.testimonial-card__role,
.early-access__input {
  font: var(--text-input);
}

.testimonial-card__name {
  font: var(--text-card-name);
  font-weight: 900;
}

.early-access {
  position: relative;
  top: 10rem;
  display: grid;
  gap: 2rem;
  justify-self: center;
  width: 88%;
  padding: 3rem;
  background-color: var(--Navy-900);
  border-radius: 0.6rem;
  box-shadow: 0 6px 12px var(--Navy-950);
}

.early-access__description {
  font: var(--text-description);
}

.early-access__form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.early-access__input,
.early-access__button {
  padding: 1.4rem;
  border-radius: 3rem;
  border: none;
}

.early-access__button {
  color: var(--White);
  background-color: var(--Cyan-500);
  transition: background-color 0.3s;
  cursor: pointer;
}

.footer {
  display: grid;
  gap: 2rem;
  padding: 12rem 3rem 3rem 3rem;
  font: var(--text-description);
  background-color: var(--Navy-950);
}

.footer__logo {
  padding: 1.5rem;
}

.footer__content,
.footer__contact {
  display: grid;
  gap: 2rem;
}

.footer__location,
.footer__contact-item {
  display: flex;
  gap: 3rem;
}

.footer__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 0.4rem;
}

.footer__links {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.footer__links li {
  width: fit-content;
  cursor: pointer;
  transition: color 0.2s ease, font-weight 0.2s ease;
}

.footer__links a {
  text-decoration: none;
  color: var(--White);
}

.footer__links a:hover {
  font-weight: 700;
}

.footer__social {
  display: flex;
  gap: 1rem;
  padding-top: 4rem;
  justify-content: center;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 3.2rem;
  height: 3.2rem;

  color: var(--White);
  text-decoration: none;
  
  border: 1px solid var(--White);
  border-radius: 50%;
  transition: color 0.3s, border-color 0.3s;
}

.footer__social-link:hover {
  color: var(--Teal-200);
  border-color: var(--Teal-200);
}

.footer__social-link i {
  font-size: 1.2rem;
}