body {
  color: var(--White);
}

.header,
main,
.footer {
  justify-self: center;
  width: min(100%, 33.5rem);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  background-color: var(--Navy-800);
}

.header__logo {
  width: 8rem;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font: var(--text-nav);
  cursor: pointer;
}

.header__nav ul li:hover {
  text-decoration: underline;
}

.header__nav a {
  text-decoration: none;
  color: var(--White);
}

main {
  text-align: center;
  background-color: var(--Navy-900);
}

.hero {
  background-color: var(--Navy-800);
}

.hero__image {
  display: block;
  width: 90%;
  margin-inline: auto;
  position: relative;
  z-index: 3;
}

.hero__curve {
  display: block;
  width: 100%;
  margin-top: -2.5rem;
  position: relative;
  z-index: 2;
}

.hero__content {
  display: grid;
  justify-items: center;
  gap: 2rem;
  
  background-color: var(--Navy-900);
  padding: 2rem 2.2rem 6rem;
}

.hero__title {
  margin-top: -8rem;
  font: var(--text-title);
  position: relative;
  z-index: 2;
}

.hero__description {
  font: var(--text-description);

  padding-top: 2rem;
}

.hero__button {
  width: 24rem;
  padding: 1.7rem 0;
  justify-self: center;
  text-decoration: none;
  background: linear-gradient(90deg, var(--Teal-200),var(--Cyan-500));
  border-radius: 3rem;
  transition: filter 0.3s;
}

.hero__button:hover,
.early-access__button:hover {
  background-color: var(--Teal-200);
  filter: brightness(1.15);
}

.hero__button,
.early-access__button {
  font: var(--text-button);
  color: var(--White);
}

.productive__image {
  width: 27rem;
}

.features {
  display: grid;
  gap: 5rem;
  padding: 4rem 1.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip-path: inset(50%);
}

.feature-card {
  display: grid;
  gap: 2rem;
}

.feature-card__icon {
  width: 6rem;
  justify-self: center;
}

.feature-card__title,
.productive__title,
.early-access__title {
  font: var(--text-subtitle);
}

.feature-card__description {
  font: var(--text-description);
}

.productive {
  display: grid;
  gap: 3rem;
  padding-top: 2rem;
  justify-items: center;
}

.productive__content {
  display: grid;
  gap: 2rem;
  padding-inline: 3rem;
  text-align: left;
}

.productive__description {
  font: var(--text-description);
}

.productive__link {
  display: inline-flex;
  justify-self: start;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  font: var(--text-description);
  text-decoration: none;
  color: var(--Teal-200);
  border-bottom: 1px solid var(--Teal-200);
  border-color: currentColor;
  transition: 0.3s;
}

.productive__link:hover {
  color: var(--White);
  border-color: var(--White);
}

.testimonials {
  display: grid;
  gap: 2rem;
  padding: 10rem 3.8rem 0 3.8rem;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: top 7.8rem left 4rem;
  line-height: 1.8rem;
}

.testimonial-card {
  display: grid;
  gap: 2rem;
  padding: 1.8rem;
  text-align: left;
  line-height: 1.8rem;
  background-color: var(--Navy-800);
  border-radius: 0.6rem;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
}

.testimonial-card__text {
  font: var(--text-testimonial);
}

.testimonial-card__author {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.testimonial-card__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.testimonial-card__role,
.early-access__input {
  font: var(--text-input);
}

.testimonial-card__name {
  font: var(--text-card-name);
  font-weight: 900;
}

.early-access {
  position: relative;
  top: 15rem;
  display: grid;
  gap: 2rem;
  justify-self: center;
  width: 88%;
  padding: 3rem;
  background-color: var(--Navy-850);
  border-radius: 0.6rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.early-access__description {
  font: var(--text-description);
}

.early-access__form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.early-access__input,
.early-access__button {
  padding: 1.4rem;
  border-radius: 3rem;
  border: none;
}

.early-access__button {
  color: var(--White);
  background: linear-gradient(90deg, var(--Teal-200),var(--Cyan-500));
  transition: background-color 0.3s;
  cursor: pointer;
}

.footer {
  display: grid;
  gap: 2rem;
  padding: 17rem 3rem 3rem 3rem;
  font: var(--text-description);
  /* background-color: var(--Navy-800); */
  background-color: var(--Navy-950);
}

.footer__logo {
  padding: 2rem;
}

.footer__content,
.footer__contact {
  display: grid;
  gap: 2rem;
}

.footer__location,
.footer__contact-item {
  display: flex;
  gap: 3rem;
}

.footer__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 0.4rem;
}

.footer__links {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.footer__links li {
  width: fit-content;
  cursor: pointer;
  transition: color 0.2s ease, font-weight 0.2s ease;
}

.footer__links a {
  text-decoration: none;
  color: var(--White);
}

.footer__links a:hover {
  font-weight: 700;
}

.footer__social {
  display: flex;
  gap: 1rem;
  padding-top: 4rem;
  justify-content: center;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 3.2rem;
  height: 3.2rem;

  color: var(--White);
  text-decoration: none;
  
  border: 1px solid var(--White);
  border-radius: 50%;
  transition: color 0.3s, border-color 0.3s;
}

.footer__social-link:hover {
  color: var(--Teal-200);
  border-color: var(--Teal-200);
}

.footer__social-link i {
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: var(--Navy-950);
  }

  .header,
  main,
  .footer {
    justify-self: center;
    width: min(100%, 102.4rem);
  }

  .header {
    padding: 4rem;
  }

  .header__logo {
    width: 12rem;
  }

  .header__nav ul {
    gap: 3rem;
    font-size: clamp(1.2rem, 4vw, 1.4rem);
  }

  .hero {
    background: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-color: var(--Navy-800);
  }

  .hero__image {
    width: 48rem;
  }

  .hero__curve {
    /* margin-top: 10rem; */
    display: none;
    /* content: none; */
  }

  .hero__content {
    /* gap: 2.2rem; */
    align-content: space-around;
    /* margin-top: -40rem; */
    margin-top: 8rem;
    background-color: transparent;
  }

  .hero__title {
    width: 52rem;
    font-size: clamp(2.3rem, 6vw, 3rem);

    position: relative;
    /* margin-top: -47rem; */
  }
  
  .hero__description {
    width: 48rem;
    font-size: clamp(1.4rem, 4vw, 1.6rem);
    background-color: var(--Navy-800);

    position: relative;
    /* top: -38rem; */
    background-color: transparent;
    z-index: 100;
    /* border: 1px solid red; */
  }

  .hero__button {
    width: 28rem;
    font-size: clamp(1.2rem, 4vw, 1.6rem);

    z-index: 100;
  }
}