body {
  color: var(--White);
}

.header,
main,
.footer {
  justify-self: center;
  width: min(100%, 33.5rem);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  background-color: var(--Navy-800);
}

.header__logo {
  width: 8rem;
}

.header__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font: var(--text-nav);
}

.header__list li:hover {
  text-decoration: underline;
}

.header__nav a {
  text-decoration: none;
  color: var(--White);
}

main {
  text-align: center;
  background-color: var(--Navy-900);
}

.hero {
  background-color: var(--Navy-800);
}

.hero__image {
  position: relative;
  display: block;
  width: 90%;
  margin-inline: auto;
  z-index: 3;
}

.hero__curve {
  position: relative;
  display: block;
  width: 100%;
  margin-top: -2.5rem;
  z-index: 2;
}

.hero__content {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding: 2rem 2.2rem 6rem;
  background-color: var(--Navy-900);
}

.hero__title {
  position: relative;
  margin-top: -8rem;
  font: var(--text-title);
  z-index: 2;
}

.hero__description {
  font: var(--text-description);
  padding-top: 2rem;
}

.hero__button {
  width: 24rem;
  justify-self: center;
  padding: 1.7rem 0;
  text-decoration: none;
  background: linear-gradient(90deg, var(--Teal-200),var(--Cyan-500));
  border-radius: 3rem;
  transition: filter 0.3s;
}

.hero__button:hover,
.early-access__button:hover {
  background-color: var(--Teal-200);
  filter: brightness(1.15);
}

.hero__button,
.early-access__button {
  font: var(--text-button);
  color: var(--White);
}

.features {
  display: grid;
  gap: 5rem;
  padding: 4rem 1.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip-path: inset(50%);
}

.feature-card {
  display: grid;
  gap: 2rem;
}

.feature-card__icon {
  width: 6rem;
  justify-self: center;
}

.feature-card__title,
.productive__title,
.early-access__title {
  font: var(--text-subtitle);
}

.feature-card__description {
  font: var(--text-description);
}

.productive {
  display: grid;
  gap: 3rem;
  padding-top: 2rem;
  justify-items: center;
}

.productive__image {
  width: 27rem;
}

.productive__content {
  display: grid;
  gap: 2rem;
  padding-inline: 3rem;
  text-align: left;
}

.productive__description {
  font: var(--text-description);
}

.productive__link {
  display: inline-flex;
  justify-self: start;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  font: var(--text-description);
  text-decoration: none;
  color: var(--Teal-200);
  border-bottom: 1px solid var(--Teal-200);
  border-color: currentColor;
  transition: color 0.3s, border-color 0.3s;
}

.productive__link:hover {
  color: var(--White);
  border-color: var(--White);
}

.testimonials {
  display: grid;
  gap: 2rem;
  padding: 10rem 3.8rem 0 3.8rem;
  line-height: 1.8rem;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: top 7.8rem left 4rem;
}

.testimonial-cards {
  display: grid;
  gap: 2rem;
}

.testimonial-card {
  display: grid;
  gap: 2rem;
  padding: 1.8rem;
  text-align: left;
  line-height: 1.8rem;
  background-color: var(--Navy-800);
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
}

.testimonial-card__text {
  font: var(--text-testimonial);
}

.testimonial-card__author {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.testimonial-card__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.testimonial-card__name {
  font: var(--text-card-name);
  font-weight: 900;
}

.testimonial-card__role,
.early-access__input {
  font: var(--text-input);
}

.early-access {
  position: relative;
  top: 15rem;
  display: grid;
  justify-self: center;
  gap: 2rem;
  width: 88%;
  padding: 3rem;
  background-color: var(--Navy-850);
  border-radius: 0.6rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.early-access__description {
  font: var(--text-description);
}

.early-access__form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.early-access__input,
.early-access__button {
  padding: 1.4rem;
  border-radius: 3rem;
  border: none;
}

.early-access__button {
  color: var(--White);
  background: linear-gradient(90deg, var(--Teal-200),var(--Cyan-500));
  transition: background-color 0.3s;
  cursor: pointer;
}

.footer {
  display: grid;
  gap: 2rem;
  padding: 17rem 3rem 3rem 3rem;
  font: var(--text-description);
  background-color: var(--Navy-950);
}

.footer__logo {
  padding: 2rem;
}

.footer__content,
.footer__contact {
  display: grid;
  gap: 2rem;
}

.footer__location,
.footer__contact-item {
  display: flex;
  gap: 3rem;
}

.footer__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 0.4rem;
}

.footer__links {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.footer__links li {
  display: inline-flex;
  transition: color 0.2s ease, font-weight 0.2s ease;
}

.footer__links a {
  text-decoration: none;
  color: var(--White);
}

.footer__links a:hover {
  font-weight: 700;
}

.footer__social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 4rem;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  color: var(--White);
  text-decoration: none;
  border: 1px solid var(--White);
  border-radius: 50%;
  transition: color 0.3s, border-color 0.3s;
}

.footer__social-link:hover {
  color: var(--Teal-200);
  border-color: var(--Teal-200);
}

.footer__social-link i {
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .header,
  main,
  .footer {
    justify-self: center;
    width: min(100%, 102.4rem);
  }

  .header {
    padding: 4rem;
  }

  .header__logo {
    width: 12rem;
  }

  .header__list {
    gap: 3rem;
    font-size: clamp(1.2rem, 4vw, 1.4rem);
  }

  .hero {
    background: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-color: var(--Navy-800);
  }

  .hero__image {
    width: 48rem;
  }

  .hero__curve {
    display: none;
  }

  .hero__content {
    align-content: space-around;
    margin-top: 8rem;
    background-color: transparent;
  }

  .hero__title {
    position: relative;
    width: 52rem;
    font-size: clamp(2.3rem, 2vw, 3rem);
  }
  
  .hero__description {
    position: relative;
    width: 48rem;
    font-size: clamp(1.4rem, 4vw, 1.6rem);
    z-index: 100;
  }

  .hero__button {
    width: 28rem;
    font-size: clamp(1.2rem, 4vw, 1.6rem);
    z-index: 100;
  }

  .feature-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-items: center;
  }

  .feature-card {
    justify-content: center;
  }

  .feature-card__icon {
    height: fit-content;
  }

  .feature-card__description {
    width: 38rem;
  }

  .productive {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    padding: 6rem 2.4rem;
  }

  .productive__image {
    width: 44rem;
  }

  .productive__content {
    display: grid;
    gap: 1.2rem;
    padding-inline: 0rem;
  }

  .productive__title {
    width: 30rem;
    font-size: clamp(1.4rem, 2vw, 2.6rem);
  }

  .testimonials {
    background-size: 3.8rem;
    background-position: top 7.8rem left 3.2rem;
  }

  .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .testimonial-card {
    padding: 2rem;
  }

  .testimonial-card__text {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  .early-access {
    justify-content: center;
    top: 9rem;
    width: 76%;
    gap: 2.2rem;
  }

  .early-access__title {
    font-size: clamp(1.4rem, 2vw, 2.2rem);
  }

  .early-access__description {
    width: 74%;
    margin-inline: auto;
    font-size: 1.3rem;
  }

  .early-access__form {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-inline: auto;
  }

  .early-access__input {
    width: 70%;
  }

  .early-access__button {
    padding-inline: 1.8rem;
  }

  .footer {
    padding: 17rem 6rem 3rem 6rem;
  }

  .footer__logo {
    padding: 2rem 0;
  }

  .footer__content {
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
  }

  .footer__location,
  .footer__contact-item {
    gap: 1.5rem;
  }

  .footer__location .footer__text {
    width: 30rem;
  }

  .footer__icon {
    width: fit-content;
  }

  .footer__contact {
    align-content: start;
  }

  .footer__links {
    margin-top: 0;
  }

  .footer__social {
    align-self: flex-start;
    padding-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .header,
  main,
  .footer {
    width: min(100%, 144rem);
  }

  .header {
    padding: 5rem;
  }

  .header__logo {
    width: 14rem;
  }

  .header__list {
    gap: 5rem;
    font-size: clamp(1.4rem, 4vw, 1.6rem);
  }

  .hero {
    padding-bottom: 10rem;
    background-position: 50% 105%;
  }

  .hero__image {
    width: 52rem;
  }

  .hero__content {
    margin-top: 10rem;
    background-color: transparent;
  }

  .hero__title {
    width: 58rem;
    font-size: clamp(3rem, 2vw, 3.4rem);
  }

  .hero__description {
    width: 56rem;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
  }

  .hero__button {
    width: 28rem;
    font-size: clamp(1.6rem, 4vw, 1.8rem);
  }

  .features,
  .productive,
  .testimonials {
    padding-block: 10rem;
  }

  .feature-card__icon {
    width: fit-content;
  }

  .feature-card__title {
    font-size: clamp(1.4rem, 4vw, 1.8rem);
  }

  .feature-card__description,
  .productive__link {
    font-size: clamp(1.4rem, 4vw, 1.6rem);
  }

  .productive__image {
    width: 56rem;
  }

  .productive__content {
    gap: 2.2rem;
    padding-inline: 2rem;
  }

  .productive__title {
    font-size: clamp(2.6rem, 2vw, 3rem);
  }

  .productive__description {
    font-size: clamp(1.4rem, 2vw, 2rem);
  }

  .testimonials {
    background-size: 4rem;
  }

  .testimonial-card {
    padding: 3rem;
  }

  .testimonial-card__text {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
  }

  .testimonial-card__avatar {
    width: 4rem;
    height: 4rem;
  }

  .testimonial-card__name {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
  }

  .testimonial-card__role {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  .early-access {
    width: 54%;
  }
}